.fRow {
    margin: 15px 10px 15px 10px !important;
}

.fRow .form-check-input {
    margin: 0px 10px 0px 10px !important;
}

.title {
    font-size: 45px;
    font-weight: normal;    
    /*font-family: "amplesoft-regularregular", Georgia, Serif;*/
    margin-bottom: 10px;
}

.subtitle {
    display: initial;
    font-size: 16px;
    margin-bottom: 30px;
}

.thead-payu {
    background-color: #a6c307;
    border-block-color: #778b06;
    color: white;

    border-top-left-radius: 15px;
}

.scroll {
    background: transparent;
    overflow-y: scroll;
    height: 400px;

    scrollbar-color: #555 transparent;
}

.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #a6c307;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(166, 195, 7, .6);
}