.bg {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login {
    background-color: #b6e907 !important;
    color: #fff;
}

.Logo {
    background-image: url(../resource/payULogo.png);
    width: 40%;
}