/* Vars
@import "compass";
@import "compass/css3";

$menu-width: 200px;
$header-height: 80px + 6px;
$side-navigation-big: 600px;
$main-color-branding-hover: #438f29;

$main-color-branding: #a6c307;
$main-color-branding-fade: #f6f6f5;
$main-color-branding-underlined: #DDE197;
$main-color-warn: #ff8000;

$color-background: #f9f9f9;
$color-background-hover: #e9e9e9;
$color-background-semilight: #fcfcfc;
$color-background-selected: rgb(245, 245, 245);
$color-bright: $color-background;
$color-background-light: #fff;
$color-background-dark: #434142;
$color-pure-white: #fff;
$color-panel-background: #f6f6f6;
$color-panel-border: #EFF0F2;
$color-panel-border-dark: #ddd;
$color-upload-border: #CBCDD1;

$color-background-relevant-section: #54BBAB;
$color-background-dark-relevant-section: #008558;

$color-background-lending-banner: #BCCF00;

$color-text: #282828;
$color-text-disable: #b5b5b5;
$color-text-light: #918F91;
$color-text-table: #717175;
$color-text-table-title: #262626;
$color-text-pure-light: #FFF;
$color-tab-link: #34495e;

$color-panel-hover: #777;
$color-text-hover:94959B;
$color-text-hover-light:#94959B;
$color-background-merchant-blue: #00ADBA;
$color-background-merchant-green: #4CBBAB;

$color-locked-table: #F5F5F5;
$color-back-edit: #C5C7CB;
$color-border-light-grey: #DDDDDD;
$color-border-panel-grey: #E4E5E7;
$color-title-pm-grey: #8b8c92;
$color-inactive-gray:#C4C4C4;

**************** Chart Colors ******************

$red: #EB0208;
$crimson: #871B23;
$orange: #E18000;
$brown: #AF6104;
$grey: #E8E8E8;		
$black: #000;		
$dark-grey: #232323;		
$medium-grey: #90959E;
$light-red: #FA5459;

**************** ******************
$warning-color: $orange;
$warning-color-background: rgb(254, 249, 245);
$warning-color-border: rgb(254, 208, 172);

$error-color: rgb(235, 2, 8);
$error-color-background: rgb(255, 243, 243);

$info-color-background: #d9edf7;

$success-color: #ECFFD9;
$success-color-background: rgb(243, 248, 227);
$success-color-border: rgb(149, 191, 0);
$facebook-color: #3b5998;
$twitter-color: #55acee;

*************************************

$screen-retina: 320px;
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-widescreen: 1200px;
$screen-extrawidescreen: 1600px;

End*/

/* Layout */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden !important;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 13px;
    color: #282828;
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    background-color: #fff;
    display: block;
    height: 62px;
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #e4e5e7;
}

/*#menu {
    width: 200;
    bottom: 0;
    float: left;
    left: 0;
    position: absolute;
    top: 62px;
    transition: all 0.4s ease 0s;

}*/

.navButton {
    border-left: 1px solid #EFF0F2;
    color: #282828;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.navDrop {
    border-left: 1px solid #EFF0F2;
    color: #282828;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: right;
    padding-left: 10x;
}

.MenuHeader {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid #e4e5e7;
    background: #fff;
}

.color-line {
    background: #a6c307;
    height: 6px;
}

#logo {
    width: 200px;
    height: 80px;
    padding: 10px 15px;

    float: left;

    padding: 0 !important;
}

#logo.light-version {
    background: transparent;
    text-align: center;
}