.sideMenu {
    background-color: #fff;
    border-right: 1px solid #EFF0F2;
    height: 100%;
}

.sideMenu dropdown-item {
    background-color: red;

}

.sideUl li {
    background-color: #EFF0F2;
    padding: 5px 15px 5px 15px;
    width: 100%;
}

.sideUl li:hover {
    background-color: #FFF;
}

.sideUl li a {
    color: #6a6c6f;
    font-size: 13px;
}

.sideUl li.menuDrop {
    background-color: #EFF0F2 !important;
    color: #a6c307;
}

.sideUl li.menuItem {
    border-top: 1px solid #a9aaac;
}

.sideUl li.menuItem a {
    padding-left: 25px;
}

.sideUl li.semiActive {
    color: #6a6c6f;
    background-color: #FFF;
}

.sideUl li.semiActive a {
    color: #6a6c6f;
}

.sideUl li.active {
    color: #a6c307;
    background-color: #FFF;
}

.sideUl li.active a {
    color: #a6c307;
}

.img-circle {
    border-radius: 50%;
}

.icon-co {
    background-image: url("../resource/flags_new.png");
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}

.userInfoT1 {
    background-color: #EFF0F2;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    width: 100%;
}

.userInfoT2 {
    text-align: center;
}

.userInfoP1 {
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;

    font-size: 13.5px;
    text-align: right;
}

.userSideInfo {
    display: inline-block;
    padding: 10px 0 10px 0;
    width: calc(100% - 46px);
}